.DS_Store
*.iws
*.log
/.link_to_grails_plugins
/.settings
/cobertura.ser
/grails-film-strip-*.zip
/grails-film-strip-*.zip.sha1
/plugin.xml
/target-eclipse
/target
/web-app/WEB-INF
/.idea
/filmStrip.iml
